.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.button{
  padding: 50px;
}
.startbtn{
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  background-color: red;
  padding: 16px 32px;
  initial-value: False;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.startbtn:hover{
  background-color: rgb(85, 6, 3);
}